$primary-blue: #001e3c;
$secondary-blue: #1976d2;

$primary-green: #159f26;
$light-green: #1bb31b;
$very-light-green: #36d5d870;

$light-red: #f64b4b;

$primary-grey: #5e7083;
$secondary-grey: #808080;
$light-grey: #808ba2;

$white: #fff;
$whitesmoke: #f5f5f5;

$black: #000;
$light-black: #2924240b;

$box-shadow: #1212127e;
