@use "_mixins" as *;

.cart-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  animation: increase 0.3s ease;

  .btn-close {
    border: none;
    background-color: white;
    color: black;
    font-size: 24px;
  }

  .cart-container--inner {
    height: 60vh;
    overflow-y: scroll;
  }

  @include small-screen {
    width: 100%;
  }
}

@keyframes increase {
  from {
    width: 0;
  }
  to {
    @include small-screen {
      width: 100%;
    }
    @include medium-screen {
      width: 300px;
    }
  }
}
