@use "_mixins" as *;
@use "_vars" as *;

.cart-detail {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 350px;
  background-color: $white;

  &__close {
    @include btnIcon($black, 24px);
  }

  &__title {
    margin: 0.5rem 0 0 0.5rem;
  }

  &__body {
    padding: 1rem;
    height: 60vh;
    overflow-y: scroll;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -15px 10px -15px $box-shadow;
  }

  &__text {
    &--bolder {
      font-weight: bolder;
    }

    &--center {
      text-align: center;
    }
  }

  &__btn {
    @include btn;
    padding: 1rem 2rem;
    margin: 0.5rem 0;
    border-radius: 32px;
  }

  &__btn--danger {
    border: solid 1px $primary-green;
  }

  &__btn--success {
    background-color: $primary-green;
    color: $white;
  }

  @include small-screen {
    width: 100%;
  }
}
