@use "mixins" as *;
@use "vars" as *;

.cart-item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  border-top: solid 2px $secondary-grey;
  justify-content: space-between;

  &__delete {
    @include btnIcon($secondary-grey, 16px);
    position: absolute;
    top: 3px;
    right: 0;
    transition: color 0.5s ease;

    &:hover {
      color: $light-red;
    }
  }

  &__title {
    color: $secondary-grey;
    margin: 0.25rem 0;
  }

  &__img {
    width: 70%;
    margin: auto;
  }
  &__text {
    color: $secondary-grey;
    &--center {
      text-align: center;
    }
    &--bold {
      font-weight: 600;
    }
  }
  &__number-input {
    width: 40%;
    margin: 0.5rem auto;

    @include small-screen {
      width: 50%;
    }
  }
}
