@use "vars" as *;

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  width: 100%;

  &.shown {
    background-color: transparent;
    left: 0;
    right: 0;
    animation: fadeInRight 0.3s ease;
  }
  &.hidden {
    background-color: transparent;
    left: 100%;
    right: -100%;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
}
