.nav {
  background-color: rgb(36, 36, 67);
  padding: 0 1rem;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style: none;
    color: white;
    cursor: pointer;
  }

  &__link {
    &--title {
      font-weight: 800;
      font-size: 24px;
    }
  }
}
