@use "mixins" as *;

.number-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 8px;
  border-radius: 32px;
  background-color: #f5f5f5;

  &__btn {
    @include btnIcon(#242443, 14px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    min-width: 10px;
    border: none;
    outline: none;
    background: none;
    text-align: center;
    color: grey;
    font-weight: bolder;
  }
}
